# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [3]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv'

### Step 3. Assign it to a variable apple

In [4]:
df = pd.read_csv(url)

### Step 4.  Check out the type of the columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       8465 non-null   object
 1   Open       8465 non-null   float64
 2   High       8465 non-null   float64
 3   Low        8465 non-null   float64
 4   Close      8465 non-null   float64
 5   Volume     8465 non-null   int64
 6   Adj Close  8465 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 463.1+ KB

### Step 5. Transform the Date column as a datetime type

In [6]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       8465 non-null   datetime64[ns]
 1   Open       8465 non-null   float64
 2   High       8465 non-null   float64
 3   Low        8465 non-null   float64
 4   Close      8465 non-null   float64
 5   Volume     8465 non-null   int64
 6   Adj Close  8465 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 463.1 KB

### Step 6.  Set the date as the index

In [7]:
df.set_index('Date')

             Open   High    Low  Close     Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...           ...    ...    ...    ...        ...        ...
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 6 columns]

### Step 7.  Is there any duplicate dates?

In [8]:
df.duplicated(subset=['Date']).value_counts()

False    8465
Name: count, dtype: int64

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [9]:
df.sort_index(ascending=False)

           Date   Open   High    Low  Close     Volume  Adj Close
8464 1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
8463 1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8462 1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8461 1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8460 1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
...         ...    ...    ...    ...    ...        ...        ...
4    2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
3    2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
2    2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
1    2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
0    2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35

[8465 rows x 7 columns]

### Step 9. Get the last business day of each month

In [13]:
pd.date_range(start=df['Date'].iloc[0], periods=12, freq='BME')

DatetimeIndex(['2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31',
               '2014-11-28', '2014-12-31', '2015-01-30', '2015-02-27',
               '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30'],
              dtype='datetime64[ns]', freq='BME')

### Step 10.  What is the difference in days between the first day and the oldest

In [20]:
df['Date'].max() - df['Date'].min()

Timedelta('12261 days 00:00:00')

### Step 11.  How many months in the data we have?

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.