# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [6]:
chipo = df

### Step 4. How many products cost more than $10.00?

In [23]:
chipo.head()
# Remove the dollar sign and convert to float
# chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

chipo[chipo['item_price']>10]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [32]:
chipo[['item_name', 'item_price']].value_counts()

item_name              item_price
Chips and Guacamole    4.45          349
Chicken Bowl           8.75          313
Canned Soft Drink      1.25          264
Chicken Burrito        8.75          230
Chicken Bowl           11.25         228
                                    ...
Steak Bowl             17.98           1
                       26.07           1
Carnitas Salad         8.99            1
Carnitas Crispy Tacos  17.98           1
Veggie Soft Tacos      16.98           1
Name: count, Length: 209, dtype: int64

### Step 6. Sort by the name of the item

In [37]:
chipo[['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price']].sort_values(by= 'item_name', ascending=True).head(10)

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49
3422      1373         1  6 Pack Soft Drink             [Coke]        6.49
553        230         1  6 Pack Soft Drink        [Diet Coke]        6.49
1916       774         1  6 Pack Soft Drink        [Diet Coke]        6.49
1922       776         1  6 Pack Soft Drink             [Coke]        6.49
1937       784         1  6 Pack Soft Drink        [Diet Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [36]:
most_expensive = chipo[['item_name', 'item_price']].sort_values(by = 'item_price', ascending=False)
most_expensive.head()

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3602               Chicken Burrito       35.00
3601                Veggie Burrito       33.75

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [50]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].value_counts().sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [71]:
more_than_one_canned_soda = chipo[(
    chipo['item_name'] == 'Canned Soda') &
        (chipo['quantity'] > 1)]

count = more_than_one_canned_soda.value_counts().sum()
print(count)

20