# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [16]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [17]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [18]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [19]:
cars1.drop(['Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],axis = 1, inplace=True)

### Step 5. What is the number of observations in each dataset?

In [20]:
cars1.info()
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           200 non-null    float64
 1   cylinders     200 non-null    int64
 2   displacement  200 non-null    int64
 3   horsepower    200 non-null    object
 4   weight        200 non-null    int64
 5   acceleration  200 non-null    float64
 6   model         200 non-null    int64
 7   origin        200 non-null    int64
 8   car           200 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.2+ KB

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [27]:
cars_df = cars1.merge(cars2, how='inner', on='model')
cars_df.shape

(288, 17)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [26]:
import numpy as np
np.random.seed(0)
Owners = np.random.randint(15000, 73001, size = 288)

### Step 8. Add the column owners to cars

In [25]:
cars_df['0wners'] = Owners
cars_df

,mpg_x,cylinders_x,displacement_x,horsepower_x,weight_x,acceleration_x,model,origin_x,car_x,mpg_y,cylinders_y,displacement_y,horsepower_y,weight_y,acceleration_y,origin_y,car_y,0wners
0,28.0,4,107,86,2464,15.5,76,2,fiat 131,33.0,4,91,53,1795,17.4,3,honda civic,17732
1,28.0,4,107,86,2464,15.5,76,2,fiat 131,20.0,6,225,100,3651,17.7,1,dodge aspen se,58567
2,28.0,4,107,86,2464,15.5,76,2,fiat 131,18.0,6,250,78,3574,21.0,1,ford granada ghia,57613
3,28.0,4,107,86,2464,15.5,76,2,fiat 131,18.5,6,250,110,3645,16.2,1,pontiac ventura sj,67416
4,28.0,4,107,86,2464,15.5,76,2,fiat 131,17.5,6,258,95,3193,17.8,1,amc pacer d/l,60891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,29.0,4,90,70,1937,14.2,76,2,vw rabbit,16.5,6,168,120,3820,16.7,2,mercedes-benz 280s,30939
284,29.0,4,90,70,1937,14.2,76,2,vw rabbit,16.5,8,350,180,4380,12.1,1,cadillac seville,25787
285,29.0,4,90,70,1937,14.2,76,2,vw rabbit,13.0,8,350,145,4055,12.0,1,chevy c10,32191
286,29.0,4,90,70,1937,14.2,76,2,vw rabbit,13.0,8,302,130,3870,15.0,1,ford f108,17121
287,29.0,4,90,70,1937,14.2,76,2,vw rabbit,13.0,8,318,150,3755,14.0,1,dodge d100,60353