# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [30]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [31]:
url ='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(url)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [32]:
df.columns
df = df[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian']]

### Step 5. Create a lambda function that will capitalize strings.

In [33]:
df[['Mjob', 'Fjob', 'reason', 'guardian']] = df[['Mjob', 'Fjob', 'reason', 'guardian']].apply(lambda x: x.str.capitalize())
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,Course,Mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,Course,Father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,Other,Mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,Home,Mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,Home,Father

### Step 6. Capitalize both Mjob and Fjob

In [34]:
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].apply(lambda x: x.str.capitalize())
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,Course,Mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,Course,Father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,Other,Mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,Home,Mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,Home,Father

### Step 7. Print the last elements of the data set.

In [35]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,Services,Services,Course,Other
391,MS,M,17,U,LE3,T,3,1,Services,Services,Course,Mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,Course,Other
393,MS,M,18,R,LE3,T,3,2,Services,Other,Course,Mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,Course,Father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [36]:
# My Original DataFrame is in upper case, Mjon and Fjon are also in upper case

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [37]:
def Majority(x):
    if x > 17:
        return True
    else:
        return False

df['legal_drinker'] = df['age'].apply(Majority)
df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,Course,Mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,Course,Father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,Other,Mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,Home,Mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,Home,Father,False
5,GP,M,16,U,LE3,T,4,3,Services,Other,Reputation,Mother,False
6,GP,M,16,U,LE3,T,2,2,Other,Other,Home,Mother,False
7,GP,F,17,U,GT3,A,4,4,Other,Teacher,Home,Mother,False
8,GP,M,15,U,LE3,A,3,2,Services,Other,Home,Mother,False
9,GP,M,15,U,GT3,T,3,4,Other,Other,Home,Mother,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [39]:
df[['age', 'Medu', 'Fedu']] = df[['age', 'Medu', 'Fedu']].applymap(lambda x: x*10)
df.head()

/tmp/ipykernel_256958/2830635947.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['age', 'Medu', 'Fedu']] = df[['age', 'Medu', 'Fedu']].applymap(lambda x: x*10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,Course,Mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,Course,Father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,Other,Mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,Home,Mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,Home,Father,False